---
const corevalueData = await fetch(
  "https://raw.githubusercontent.com/kati0234/frontend-design/main/resources/json/corevalues.json"
).then((res) => res.json());

console.log(Array.isArray(corevalueData));
import CorevalueSection from "../components/CorevalueSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import Cheklist from "../components/Cheklist.astro";
import Accordian from "../components/Accordian.astro";
import Hero from "../components/Hero.astro";
import Counters from "../components/Counters.astro";
---

<BaseLayout title="about">
  <Hero bgimg="url(/images/about-hero.png)" />
  <section>
    <div class="flex">
      <div>
        <Cheklist
          variant="about"
          description="0ur vision"
          title="Turn your ideas into reality."
          text="Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps."
        />
      </div>
      <div class="billed-box">
        <figure>
          <img src="./images/about-mensker.jpg" alt="" />
        </figure>
      </div>
    </div>
    <Counters />
  </section>
  <CorevalueSection data={corevalueData} theme="light" />
</BaseLayout>
<style>
  .flex {
    display: flex;
    gap: 7.625rem;
  }
  [data-icon] {
    width: 1.50038rem;
    height: 1.44381rem;
  }
</style>
