---
import BaseLayout from "../layouts/BaseLayout.astro";
import CgartSection from "../components/CgartSection.astro";
import Hero from "../components/Hero.astro";
import Scroll from "../components/Scroll.astro";
---

<BaseLayout>
  <Hero bgimg="url(/images/about-hero.png)" />
  <Scroll />
  <CgartSection />
  <h1></h1>
</BaseLayout>
