---
const corevalueData = await fetch(
  "https://raw.githubusercontent.com/kati0234/frontend-design/main/resources/json/corevalues.json"
).then((res) => res.json());
import BaseLayout from "../layouts/BaseLayout.astro";
import CgartSection from "../components/CgartSection.astro";
import Hero from "../components/Hero.astro";
import Scroll from "../components/Scroll.astro";
import CorevalueCard from "../components/CorevalueCard.astro";
import CorevalueSection from "../components/CorevalueSection.astro";
---

<BaseLayout title="home">
  <Hero bgimg="url(/images/about-hero.png)" />
  <Scroll />
  <CgartSection />
  <CorevalueSection data={corevalueData} theme="dark" />
  <h1></h1>
</BaseLayout>
