---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";

import Accordian from "../components/Accordian.astro";
---

<BaseLayout title="about">
  <h1>ss</h1>
  <section>
    <div>
      <figure></figure>
      <div>
        <h4>sara jasmin</h4>
        <p>ceo</p>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel harum fuga
        ipsam aperiam molestiae. Quis reiciendis eius accusamus quisquam,
        repellat odit nam in sint aliquam inventore, voluptate architecto fugiat
        fuga?
      </p>

      <Icon name="instagram-dark" />
      <Icon name="facebook-dark" />
      <Icon name="twitter-dark" />
      <Icon name="linked-in" />
      <hr />
      <h4>Past experience</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo non
        officiis vero dolorum, minima molestiae veritatis accusamus quia quos?
        Laboriosam, cumque at quaerat modi nisi non iste pariatur temporibus
        culpa?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
        dolore dicta pariatur qui ut consequatur quae alias quia aliquam,
        libero, explicabo numquam molestias porro impedit dolorum ratione
        ducimus laboriosam cum?
      </p>
    </div>
  </section>
</BaseLayout>
<style>
  [data-icon] {
    width: 1.50038rem;
    height: 1.44381rem;
  }
</style>
