---
const employeeData = await fetch(
  "https://raw.githubusercontent.com/kati0234/frontend-design/main/resources/json/employees.json"
).then((res) => res.json());

import EmployeeSection from "../components/EmployeeSection.astro";

import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
---

<BaseLayout title="home">
  <Hero bgimg="url(/images/team-hero.png)" side="team" title="The Consultors" />

  <div class="grid">
    <div>
      <h2>Meet Our Great Team</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. enim ad minim
        veniam, quis nostrud exercitation.
      </p>
    </div>
    <Button variant="primary fed" class="button-grid"> Join our team</Button>
  </div>

  <EmployeeSection data={employeeData} />
</BaseLayout>

<style>
  h1 {
    font-family: "Lato", sans-serif;
  }
  .grid {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    p {
      max-width: 39.375rem;
    }
  }
</style>
