---
import { Image } from "astro:assets";
import Propone from "../assets/images/prooccessone.jpg";
import Proptow from "../assets/images/prooccesstow.jpg";
import Proptree from "../assets/images/prooccesstree.jpg";
---

<section>
  <div class="flow">
    <p class="p-bg">Proccess</p>
    <h4 class="contakt">Contact Us. It’s Easy.</h4>
    <p>
      Leverage agile frameworks to provide a robust synopsis for high level
      overviews. Iterative approaches to corporate strategy foster
      collaborative.
    </p>
    <ul class="flow">
      <li class="call li-gap">
        <div>
          <p class="title">Call Today</p>
          <p class="desription">+1 800 100 900</p>
        </div>
      </li>
      <li class="time li-gap">
        <div>
          <p class="title">Monday To Friday</p>
          <p class="desription">9AM - 5PM</p>
        </div>
      </li>
      <li class="place li-gap">
        <div>
          <p class="title">USA Office</p>
          <p class="desription">195 Devonshire St Boston, MA 02110</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="grid-img">
    <Image class="item-1" src={Propone} alt="/" />
    <Image class="item-2" src={Proptow} alt="/" />
    <Image class="item-3" src={Proptree} alt="/" />
  </div>
</section>

<style>
  :root {
    --call-icon: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2253%22%20height%3D%2253%22%20viewBox%3D%220%200%2053%2053%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2226.6561%22%20cy%3D%2226.1658%22%20r%3D%2226.1658%22%20fill%3D%22%23FFECBB%22%2F%3E%3Cpath%20d%3D%22M23.1026%2025.1889C24.1404%2027.332%2025.8733%2029.0605%2028.019%2030.0928C28.1773%2030.1677%2028.3524%2030.2001%2028.527%2030.1869C28.7016%2030.1736%2028.8698%2030.1151%2029.0149%2030.0171L32.1665%2027.9119C32.3057%2027.8174%2032.4666%2027.7598%2032.6341%2027.7444C32.8017%2027.729%2032.9704%2027.7562%2033.1245%2027.8236L39.0242%2030.3575C39.2259%2030.4414%2039.3943%2030.5893%2039.5037%2030.7783C39.613%2030.9674%2039.6572%2031.1872%2039.6293%2031.4038C39.4423%2032.8633%2038.73%2034.2046%2037.6255%2035.1768C36.521%2036.149%2035.1002%2036.6855%2033.6288%2036.6858C29.0818%2036.6858%2024.7211%2034.8795%2021.5059%2031.6643C18.2907%2028.4491%2016.4844%2024.0884%2016.4844%2019.5414C16.4847%2018.07%2017.0212%2016.6491%2017.9934%2015.5447C18.9656%2014.4402%2020.3069%2013.7278%2021.7664%2013.5408C21.983%2013.513%2022.2028%2013.5572%2022.3918%2013.6665C22.5809%2013.7758%2022.7288%2013.9443%2022.8127%2014.1459L25.3465%2020.0582C25.4124%2020.2099%2025.44%2020.3755%2025.4268%2020.5404C25.4136%2020.7053%2025.3601%2020.8644%2025.2709%2021.0037L23.1657%2024.2057C23.0719%2024.3505%2023.0169%2024.5169%2023.0059%2024.6891C22.9948%2024.8612%2023.0282%2025.0333%2023.1026%2025.1889V25.1889Z%22%20stroke%3D%22%23DEAA27%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
    --time-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MyIgaGVpZ2h0PSI1MyIgdmlld0JveD0iMCAwIDUzIDUzIiBmaWxsPSJub25lIj4KICA8Y2lyY2xlIGN4PSIyNi42NTYxIiBjeT0iMjYuNDk3NiIgcj0iMjYuMTY1OCIgZmlsbD0iI0E0RURBNCIvPgogIDxwYXRoIGQ9Ik0yNi41NDI1IDM3LjkzMTJDMzIuNjY1OSAzNy45MzEyIDM3LjYyOTkgMzIuOTY3MiAzNy42Mjk5IDI2Ljg0MzhDMzcuNjI5OSAyMC43MjAzIDMyLjY2NTkgMTUuNzU2MyAyNi41NDI1IDE1Ljc1NjNDMjAuNDE5MSAxNS43NTYzIDE1LjQ1NTEgMjAuNzIwMyAxNS40NTUxIDI2Ljg0MzhDMTUuNDU1MSAzMi45NjcyIDIwLjQxOTEgMzcuOTMxMiAyNi41NDI1IDM3LjkzMTJaIiBzdHJva2U9IiM0RUFGNEUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CiAgPHBhdGggZD0iTTI2LjU0MyAyMC4zNzZWMjYuODQzNkgzMy4wMTA2IiBzdHJva2U9IiM0RUFGNEUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPg==");
    --place-icon: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2253%22%20height%3D%2253%22%20viewBox%3D%220%200%2053%2053%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2226.6561%22%20cy%3D%2226.6861%22%20r%3D%2226.1658%22%20fill%3D%22%23EAEAEA%22%2F%3E%3Cpath%20d%3D%22M26.2406%2027.6521C28.2795%2027.6521%2029.9323%2025.9992%2029.9323%2023.9603C29.9323%2021.9214%2028.2795%2020.2686%2026.2406%2020.2686C24.2017%2020.2686%2022.5488%2021.9214%2022.5488%2023.9603C22.5488%2025.9992%2024.2017%2027.6521%2026.2406%2027.6521Z%22%20stroke%3D%22%23181818%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M35.4685%2023.9603C35.4685%2032.2668%2026.2392%2038.7274%2026.2392%2038.7274C26.2392%2038.7274%2017.0098%2032.2668%2017.0098%2023.9603C17.0098%2021.5126%2017.9821%2019.165%2019.713%2017.4342C21.4438%2015.7033%2023.7914%2014.731%2026.2392%2014.731C28.6869%2014.731%2031.0345%2015.7033%2032.7653%2017.4342C34.4962%2019.165%2035.4685%2021.5126%2035.4685%2023.9603V23.9603Z%22%20stroke%3D%22%23181818%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  }

  li {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2rem;
  }

  li::before {
    content: "";
    width: 2rem;

    aspect-ratio: 1;
    background-size: contain;
  }
  .call::before {
    background: var(--call-icon) 50% 50% / contain no-repeat;
  }
  .time::before {
    background: var(--time-icon) 50% 50% / contain no-repeat;
  }
  .place::before {
    background: var(--place-icon) 50% 50% / contain no-repeat;
  }
  .title {
    font-size: var(--title-size);
    color: var(--title-color);
  }
  .desription {
    font-size: var(--desription-size);
    color: var(--desription-color);
  }

  /* andet styling */

  .p-bg {
    background-color: var(--p-bg-contakt);
    border-radius: 1.25rem;
  }
  /* grid */
  .grid-img {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    .item-1 {
      grid-column: 1fr;
      grid-row: 1 / span 2;
    }
  }
  .grid-img img {
    border-radius: 1.5rem;
  }
  section {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  @media (min-width: 800px) {
    section {
      margin-top: 6rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    .grid-img {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      .item-1 {
        grid-column: 1fr;
        grid-row: 1 / span 2;
      }
    }
    .grid-img img {
      border-radius: 1.5rem;
    }
  }
  @media (min-width: 400px) {
    .grid-img {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      .item-1 {
        grid-column: 1fr;
        grid-row: 1 / span 2;
      }
    }
  }
</style>
