---

---

<dl>
  <div>
    <dt>Successful Work</dt>
    <dd>1128+</dd>
  </div>
  <div>
    <dt>Team member</dt>
    <dd>908+</dd>
  </div>
  <div>
    <dt>Happy Customers</dt>
    <dd>258+</dd>
  </div>
  <div>
    <dt>Creative Idea</dt>
    <dd>564+</dd>
  </div>
</dl>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
  }

  dl {
    margin: 3rem;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    > * {
      display: flex;
      flex-direction: column-reverse;

      font-size: 1.125rem;
      color: #181818;

      :last-child {
        font-size: 3.125rem;
        font-weight: 500;
      }
    }
  }
</style>
