---

---

<footer>
  <div class="inner">
    <p class="logo">AskExperts</p>

    <hr />
    <p>
      &#169 2022 Consultalk. All rights reserved | Terms of Service | Privacy
      Policy
    </p>
  </div>
</footer>

<style>
  @layer components {
    footer {
      background: var(--footer-bg-coler);
    }
    .inner {
      display: flex;

      padding: 2.875rem 0rem;
      flex-direction: column;

      align-items: center;
      gap: 0.625rem;
    }
    hr {
      background-color: var(--hr-color);
      height: 0.0625rem;
      width: 100%;
    }
    .logo {
      color: var(--footer-text-coler);
      font-family: Cabin;

      font-size: var(--logo-text-size);
      font-style: normal;
      font-weight: 600;
      line-height: 1.05;
    }
    p {
      color: #fff;
      font-family: Lato;
      font-weight: 400;
    }
  }
</style>
