---

---

<footer>
  <div class="inner">
    <p class="logo">AskExperts</p>
    <!-- eller andet til logo -->
    <hr />
    <p>
      &#169 2022 Consultalk. All rights reserved | Terms of Service | Privacy
      Policy
    </p>
  </div>
</footer>

<style>
  @layer components {
    footer {
      background: var(--footer-bg-coler);
      /* align-self: end; */
    }
    .inner {
      display: flex;

      padding: 2.875rem 0rem;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      gap: 0.625rem;
    }
    hr {
      background-color: var(--hr-color);
      height: 0.0625rem;
      width: 100%;
    }
    .logo {
      color: var(--footer-text-coler);
      font-family: Cabin;
      /* font-size: 1.875rem; */
      font-size: var(--logo-text-size);
      font-style: normal;
      font-weight: 600;
      line-height: 1.05;
    }
    p {
      color: #fff;
      font-family: Lato;
      font-weight: 400;
    }
  }

  --hr-color: var(--grey-1);
  --footer-bg-coler: var(--sort-3);
  --footer-text-coler: var(--white-1);
  --logo-text-size: var(--fluid-14-30);
</style>
