---
const { title = "ask" } = Astro.props;
import "../styls/global.css";
import Header from "../components/Header.astro";
import Fotter from "../components/Fotter.astro";
import News from "../components/News.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <!-- <link rel="stylesheet" href="./assets/global.css" />
    <link rel="stylesheet" href="./styls/global.css" /> -->
  </head>
  <body>
    <Header />

    <main><slot /></main>
    <div>
      <News />
    </div>
    <Fotter />
  </body>
</html>

<style>
  @layer components {
    body {
      display: grid;
      grid-template-columns: [full-start]1fr [content] minmax(0, 1200px) 1fr [full-end];
      /* gap: 6.9rem 1rem; */
      > * {
        grid-column: full;
        display: grid;
        grid-template-columns: subgrid;
        > * {
          grid-column: content;
        }
      }
    }
  }
</style>
